#task-modal {
    width: 583px;
    top: 45%;
    left: 50%;
    z-index: 20;
    display: grid;
    grid-template-rows: auto;
    row-gap: 20px;
}

#reminder-notification {
    //display: flex;
    justify-content: space-between;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border-radius: 15px 15px 0 0;
}

button {
    padding: .5em 1em;
}

button:hover {
    background-color: #E4E4E4;
}

.action-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.action-buttons div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}

#edited-label {
    font-weight: 300;
    color: #666666;
}

.title-row {
    margin-top: 1.5em;
    padding: 0 1.5em;
    input  {
        font-weight: 600;
    }
}

textarea, input {
    border: 0;
    color: #000000;
}

input {
    padding: .5em 1em;
    width: fit-content;
    font-size: 16px;
}

textarea {
    width: 87%;
    margin: 0 2em;
    padding: 1em .5em;
    resize: none;
    height: 50%;
    font-size: 15px;
}

.list-item {
    margin: .25em 0;
    //width: 80%;
}

input::placeholder, ::placeholder {
    color: #000000;
}

#add-item input::placeholder {
    color: #80808B;
}

.list-item.complete input {
    color: #C4C4C4;
}

.labels, .action-buttons, .list-items {
    margin: 0 2em;
}

.action-buttons {
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 20px;
}

.list-items.readonly {
    pointer-events: none;
}

.action-buttons .trash-actions {
    column-gap: 25px;
    width: fit-content;
}

%demarcate {
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}

#add-item {
    @extend %demarcate;
}

.list-item input:focus {
    @extend %demarcate;
}

.list-item input {
    display: block;
}

.list-item input:nth-child(2) {
    width: 450px;
}
