<div id="task-view">
    <app-create-task-field *ngIf="createTaskField"></app-create-task-field>
    <app-trash-bar *ngIf="trashBar"></app-trash-bar>
    <div id="categories" *ngIf="allTasks">
        <div id="pinned" class="category">
            <div class="category-title">pinned</div>
            <div class="tasks-row">
                <app-task-card *ngFor="let task of pinned" [task]="task"></app-task-card>
            </div>
        </div>
        <div id="others" class="category">
            <div class="category-title">others</div>
            <div class="tasks-row">
                <app-task-card *ngFor="let other of others" [task]="other"></app-task-card>
            </div>
        </div>
    </div>
    <app-today-view *ngIf="todayView" [all]="all"></app-today-view>
    <app-trash-view *ngIf="trashView" [trash]="trash"></app-trash-view>
    <div id="search-results" class="tasks-row" *ngIf="searchResults">
        <app-task-card *ngFor="let match of (matches$ | async)" [task]="match"></app-task-card>
    </div>
    <app-calendar-view *ngIf="calenderView" [all]="all"></app-calendar-view>
</div>