#task-view {
    position: relative;
    top: 4em;
    padding: 1.5em 3vw 4em;
    right: 0;
    bottom: 0;
    left: 16vw;
    width: 76vw;
}

.category-title {
    text-transform: uppercase;
    font-size: 12px;
    padding: 0 2em;
}
